@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

div {
    font-family: 'Raleway', sans-serif;
    margin: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
